@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --breakpoint-sm: 360px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1600px;
}

@theme {
    --color-darkbg: oklch(0.1591 0 0);
    --color-darkbgsec: oklch(0.3979 0 0);
    --color-darkbglight: oklch(0.652 0.1901 253.21);
    --color-darklight: oklch(0.6841 0.2338 152.02);
    --color-darklightsec: oklch(0.6533 0.2684 354.75);
}

@theme {
    --color-lightbg: oklch(1 0 0);
    --color-lighttext: oklch(0.1591 0 0);
    --color-lightacc1: oklch(0.7206 0.178066 155.0196);
    --color-lightacc2: oklch(0.5888 0.1844 253.5);
    --color-lightbutton: oklch(0.597 0.240854 2.4025);
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/inter/Inter-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/inter/Inter-Bold.woff2') format('woff2');
    font-display: swap;
}


body {
    caret-color: transparent;
    font-family: "Inter", serif;
}

.slick-dots li button:before {
    font-size: 12px
}

.dark .slick-dots li button:before {
    color: white;
}

